.favContent {
  background-color: #ececec;
}

.favTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  margin-bottom: 16px;
}

.favSubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #979797;
}

.cardContent {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin-right: 6px;
  margin-bottom: 6px;
}

.img {
  width: 286px;
  height: 437px;
}

.cardTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  color: #393939;
}
.discount {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  color: #393939;
}

.favSize {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: justify;
  color: #7c7c7c;
}

.multiple {
  width: 162px !important;
  height: 16px !important;
}

.favEmptyTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #393939;
  margin-bottom: 38px;
}

.favEmptySubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  margin-bottom: 16px;
}
