.favContent {
  background-color: #ececec;
  padding-top: 10px;
}

.favTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  margin-bottom: 16px;
}

.favSubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #979797;
}

.cardContent {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}
.card {
  margin-right: 5.5px;
  margin-bottom: 6px;
}

.img {
  width: 286px;
  height: 437px;
}

.cardTitle {
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  text-align: justify !important;
  color: #393939 !important;
}

.css-h93ljk-MuiTypography-root {
  margin-bottom: 6px;
}
.discount {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 20px;
  text-align: justify;
  color: #393939;
}

.favSize {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: justify;
  color: #7c7c7c;
  margin-top: 6px;
}

.multiple {
  width: 162px !important;
  height: 16px !important;
  margin-top: 10px;
}

.favEmptyTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #393939;
  margin-top: 16px;
}

.favEmptySubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  margin-top: 48px;
}

.collection_top {
  display: flex;
  margin: 21px 0;
}

.collection_main {
  margin-right: 16px;
  color: #393939;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.collection_top__grey {
  color: #979797;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
