.title {
  display: flex;
}

.homeTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #393939;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 18px;
  padding-bottom: 64px;
}

.str_card {
  width: 286px;
  height: 248px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_inner {
  width: 262px;
  height: 175px;
}

.card_img {
  display: flex;
  margin: 0 auto;
  width: 70px;
  height: 70px;
}

.card_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #393939;
  margin-top: 18px;
}

.card_descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #979797;
  margin-top: 10px;
}
